<h1>Login</h1>
<form action="new_session_url" method="get">
    <label for="username">Username: </label>
    <input id="username" type="text">

    <label for="password">Password: </label>
    <input id="password" type="password">

    <button>submit</button>
</form>